.header {
  height: 101px;
  border-top: 2px solid #161f32;
}

.inner-box {
  width: 1170px;
  margin: 0 auto;
}

.inner-box:after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  float: left;
  margin-top: 32px;
  /*float를 사용하면 자동적으로 block요소로 바뀐다.*/
}

.logo-link {
  display: block;
  width: 122px;
  height: 30px;
  background: url(../images/art_logo.png) no-repeat;
  text-indent: -9999px;
}

.btn-menu-toggle {
  float: right;
  width: 26px;
  height: 23px;
  background: url(../images/menu_icon.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  /*일반적으로 테두리 없애고자할때 none 보다는 수치0으로 입력한다.*/
  margin-top: 39px;
}

.gnb {
  width: 302px;
  height: 100%;
  padding-left: 38px;
  position: fixed;
  top: 0;
  right: -340px;
  background: #161f31;
}

.gnb-heading {
  font-family: 'Molle', cursive;
  font-size: 37px;
  color: #fff;
  margin-left: 4px;
  margin-top: 59px;
}

.gnb-list {
  margin-top: 50px;
}

.gnb-item {
  margin-bottom: 19px;
}

.gnb-link {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.btn-menu-close {
  width: 14px;
  height: 14px;
  background: url(../images/btn_close.png) no-repeat;
  border: 0;
  text-indent: -9999px;
  position: absolute;
  top: 59px;
  right: 53px;
  /*링크 롤오버시 마우스 커서 변경*/
  cursor: pointer;
}


/* (common)공동 영역 */

.contents {
  text-align: center;
  padding-top: 65px;
  box-sizing: border-box;
}

.heading-section {
  font-size: 30px;
  font-weight: 400;
}

.heading-section.logo-type {
  font-family: "Molle", "cursive";
  font-size: 52px;
  color: #fff;
  margin-bottom: 47px;
}

.heading-section.dark {
  color: #3d506f;
}

.heading-section.white {
  color: #fff;
}

.heading-section-sub {
  font-size: 20px;
  margin-top: 17px;
}

.heading-section-sub.white {
  color: #fff;
}

.heading-section-sub2 {
  font-size: 25px;
  margin-bottom:23px;
  color:#3d506f;
  font-weight:400;
}

.heading-section-sub2.white {
  color:#fff;
}

.hr-line {
  margin-top: 30px;
  position: relative;
}

.hr-line.mt45:before {
  /*!important 키워드 : 우선순위를 가장 높게 해줌*/
  margin: 0 auto 45px !important;
}

.hr-line.dark:before {
  content: "";
  display: block;
  width: 571px;
  height: 1px;
  background: #7f90a5;
  margin: 0 auto 30px;
}

.hr-line.dark:after {
  content: "";
  display: block;
  width: 23px;
  height: 20px;
  background: #fff url(../images/hr_line_clrcle_dark.png) no-repeat center;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -13px;
}

.hr-line.white:before {
  content: "";
  display: block;
  width: 571px;
  height: 1px;
  background: #fff;
  margin: 0 auto 30px;
}

.hr-line.white:after {
  content: "";
  display: block;
  width: 26px;
  height: 20px;
  background: #222c40 url(../images/hr_line_clrcle_white.png) no-repeat center;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -13px;
}

.paragraph {
  line-height: 1.4;
}

.paragraph.white {
  color: #fff;
}

.paragraph.big {
  font-size: 25px;
  font-weight: 300;
}

.btn-link {
  width: 173px;
  height: 53px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  line-height: 53px;
  text-align:center;
}

.btn-link.center {
  margin: 35px auto 0px;
}

.btn-link.white {
  border: 1px solid #fff;
}

.btn-link.dark {
  background: #3d506f;
}


/* 전용 Css */

.mt20 {
  margin-top: 20px;
}

.mt35 {
  margin-top: 35px;
}

.mt65 {
  margin-top: 65px;
}

.fc-white {
  color: #fff;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.paragraph.italic {
  font-style: italic;
}


/* 영역별 CSS */

.section1 {
  background: #546278;
  height: 700px;
}

.section1>.inner-section {
  background: #222c40;
  height: 311px;
  position: relative;
  top: 105px;
  /*margin-top을 사용할때 겸침 현상으로 margin을 사용 할 수 없을때 position:relative를 이용하고 margin 대신 top을 사용한다.*/
  padding-top: 43px;
}


/*parent요소에 margin-top 속성을 적용 했을때, margin 겹침이 발생되서 child 요소의 margin이 pargin처럼 표현됨*/


/*해결 방법*/


/*1.parent요소에 float요소에 float속성을 적용*/


/*2.parent요소에 position:abolute 적용 */

.section3 {
  height: 240px;
  background: #161f31;
}

.section4 {}

.section5 {
  background: #222c40;
  position: relative;
  padding-bottom:263px;
}

.section8 {
  background: #161f32;
}

.section10 {
  background: #161f32;
}

.service-list {
  margin: 65px 0 80px;
}

.service-list:after {
  content: "";
  display: block;
  clear: both;
}

.service-list-item {
  float: left;
  margin-right: 50px;
}

.service-list-item>.item-heading {
  position: relative;
}

.service-list-item>.item-heading:before {
  content: "";
  display: block;
  width: 107px;
  height: 107px;
  /*css3 둥근 모서리 radius값을 - 50% 하면 원으로 된다*/
  border-radius: 50%;
  background: #3d506f;
  margin: 0 auto 25px;
}

.service-list-item>.item-heading:after {
  content: "";
  display: block;
  background: url(../images/icon_sprite.png) no-repeat;
  position: absolute;
  left: 50%;
}

.service-list-item:last-child {
  margin-right: 0;
}

.service-list-item>.item-heading {
  position: relative;
  margin-bottom: 20px;
  color: #3d506f;
  font-size: 20px;
}

.service-list-item:nth-child(1)>.item-heading:after {
  width: 39px;
  height: 36px;
  background-position: 0px 0px;
  top: 40px;
  margin-left: -20px;
}

.service-list-item:nth-child(2)>.item-heading:after {
  width: 38px;
  height: 39px;
  background-position: -40px 0px;
  top: 37px;
  margin-left: -19px;
}

.service-list-item:nth-child(3)>.item-heading:after {
  width: 40px;
  height: 38px;
  background-position: -80px 0px;
  top: 37px;
  margin-left: -20px;
}

.service-list-item:nth-child(4)>.item-heading:after {
  width: 45px;
  height: 44px;
  background-position: -122px 0px;
  top: 34px;
  margin-left: -23px;
}

.item-paragraph {
  line-height: 1.2;
}

.item-story {
}

.photo-list {
  margin:85px 0 60px;
}

.photo-list:after {
  content: "";
  display: block;
  clear:both;
}

.photo-list-item {
  width: 255px;
  float: left;
  margin-right: 50px;
}

.photo-list-item:last-child {
  margin-right: 0;
}

.photo-list-item>.item-photo {

}

.photo-list-item .item-photo-mask {
  width: 220px;
  height: 220px;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin:0 auto;
  cursor: pointer;
}

.photo-list-item .item-photo-mask:before {
  content: "";
  display: block;

  width: 220px;
  height: 220px;
  background: #000;
  /*투명도는 0~1 사이 실수 */
  opacity: 0.8;

  position: absolute;
  top: 0px;
  left: 0px;
}

.photo-list-item .item-photo-mask:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  /*배경이미지 위치를 right bottom하면 우측 아래로 온다*/
  background: url(../images/icon_sprite.png) no-repeat right bottom;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -29px 0 0 -29px;
}

.photo-list-item .item-photo-caption {
  margin-top : 25px;
}

.photo-list-item .item-photo-name{
  font-size:20px;
  color:#fff;
  font-weight:700;
}

.photo-list-item .item-photo-role{
  color:#fff;
  font-weight:300;
  margin-top:10px;
}

/*겹쳐 보이는 부분을 작성하기 용이하도록 display:none 임시 적용*/
/*.photo-list-item:nth-child(2) .item-story,
.photo-list-item:nth-child(3) .item-story,
.photo-list-item:nth-child(4) .item-story {
  display:none;
}*/

.photo-list-item>.item-story{
  width:100%;
  height:263px;
  background:#161f32;
  position:absolute;
  left:0;
  bottom:0;
  text-align:left;
  padding:35px 0;
  box-sizing:border-box;
  color:#fff;
}
.photo-list-item>.item-story:before {
  content:"";
  display:block;
  width:0;
  height:0;
  /*border을 이용한 삼각형 만들기*/
  /*border-top:16px solid transparent;*/
  border-right:16px solid transparent;
  border-bottom:16px solid #161f32;
  border-left:16px solid rgba(0,0,0,0);
  position:absolute;
  top:-16px;
  left:50%;
}

.photo-list-item:nth-child(1)>.item-story:before{
  margin-left:-480px;
}
.photo-list-item:nth-child(2)>.item-story:before{
  margin-left:-170px;
}
.photo-list-item:nth-child(3)>.item-story:before{
  margin-left:135px;
}
.photo-list-item:nth-child(4)>.item-story:before{
  margin-left:440px;
}

.photo-list-item .item-story-heading {
font-size:20px;
font-weight:700;
}

.photo-list-item .item-story-paragraph{
  line-height:1.2;
  font-weight: 300;
  margin-bottom:35px 0;
}

.photo-list-item .item-story-period {
  margin-top:34px;
}


.photo-list-item .item-story-period:before{
  content:"";
  display:inline-block;

  width:14px;
  height:14px;
  background:url(../images/icon_sprite.png) no-repeat -1px -120px;
  margin-right:9px;
  /*시계 아이콘을 글자 높이와 맞추기 위해 글자에게 line-height를 줄수도 있지만 아이콘에게 relative를 주고 좌표를 직접 주어 위치를 정해주는 방법도 있다.*/
  position:relative;
  top:2px;
}

.photo-list-item .item-story-birth {
  margin-top:10px;
}


.photo-list-item .item-story-birth:before{
  content:"";
  display:inline-block;

  width:13px;
  height:12px;
  background:url(../images/icon_sprite.png) no-repeat -17px -120px;
  margin-right:9px;
  /*시계 아이콘을 글자 높이와 맞추기 위해 글자에게 line-height를 줄수도 있지만 아이콘에게 relative를 주고 좌표를 직접 주어 위치를 정해주는 방법도 있다.*/
  position:relative;
  top:1px;
}

.btn-pop-close {
  width: 14px;
  height: 14px;
  background: url(../images/btn_close.png) no-repeat;
  border: 0;
  text-indent: -9999px;
  position: absolute;
  /*원하는 박스에 relative를 주어 상대 위치를 정하는 방법도 있을 수 있으나 복잡해질 수 있으므로 left:50%를 주어 현 위치에서 절대 위치 값을 주어 위치를 고정 하는 방법을 쓸 수도 있다.*/
  left:50%;
  top:10px;
  margin-left:calc(585px - 7px) ;
  /*위 3줄로 중앙 위치를 고정하고 inner-box 넓이 1170의 반과 이미지 넓이 반을 뺀 값을을 마진 좌측(margin-left)으로 정하면 inner-box에 relative를 주지 않더라도 원하는 위치에 btn-pop-close를 고정 할 수 있다. */

  /*링크 롤오버시 마우스 커서 변경*/
  cursor: pointer;
}

.our-company {
float:left;
width:570px;
text-align:left;
}

.our-skills {
float:right;
width:570px;
text-align:left;
}

.skill-list-item {
margin-bottom:8px;
background:#aaa;
}
.skill-list-item:last-child {
  margin-bottom:0;
}

.skill-list-item>.bar{
  height:42px;
  color:#fff;
  line-height:42px;
  background:#3d506f;
  padding-left:16px;
  box-sizing:border-box;
}

.skill-list-item>.bar.p93 {
  width:93%
}
.skill-list-item>.bar.p90 {
  width:90%
}
.skill-list-item>.bar.p85 {
  width:85%
}
.skill-list-item>.bar.p80 {
  width:80%
}

.career-wrap {
  width:100%;
  padding:63px 0;
  background:#222c40;
  margin-top:68px;
}

.career-list:after {
  content:"";
  display:block;
  clear:both;
}


.career-list-item {
  float:left;
  text-align:left;
  color:#fff;
  position:relative;
  margin-right:160px;
  /*last-child를 사용하지 않고 위와 같이 마지막 box mar right를 0으로 정의 한다.*/
}




.career-list-item:nth-child(1){
  padding-left:87px;
}
.career-list-item:nth-child(2){
  padding-left:87px;
}
.career-list-item:nth-child(3){
  padding-left:68px;
}
.career-list-item:nth-child(4){
  padding-left:79px;
  margin-right:0px;
  /*last-child를 사용하지 않고 위와 같이 마지막 box mar right를 0으로 정의 한다.*/
}

.career-list-item:before {
  content:"";
  display:block;
  background:url(../images/icon_sprite.png) no-repeat;
  position:absolute;
  top:0;
  left:0;
}

.career-list-item:nth-child(1):before {
width:77px;
height:75px;
background-position:0px -44px;
}
.career-list-item:nth-child(2):before {
width:77px;
height:75px;
background-position:-78px -44px;
}
.career-list-item:nth-child(3):before {
width:60px;
height:75px;
background-position:-155px -44px;
}
.career-list-item:nth-child(4):before {
width:77px;
height:75px;
background-position:-220px -44px;
}


.career-number{
  font-size:40px;
  margin-bottom:10px;
}
.career-category {

}

.career-warp {
  margin:120px 0;
}

.btn-filter {
  height:36px;
  padding:0 21px;
  background:#3d506f;
  color:#fff;
  font-size:20px;
  border:0;
  margin-right:17px;
}
.btn-filter:last-child {
  margin-right:0px;
}

.btn-filter.all {
  background:skyblue;
}

.blog-list {
  margin-bottom:120px;
}

.blog-list:after {
  content:"";
  display:block;
  clear:both;
}

.blog-list-item {
  margin-bottom:30px;
}

.blog-list-item.type1 {
  width:570px;
  height:300px;
  float:left;
}
.blog-list-item:first-child{
margin-right:30px;
}
.blog-list-item:last-child{
  margin-left:30px;
}
/*가상 앨리먼트는 이웃간의 목록을 기준으로 하지 않고 부모의 자식 목록 위주로 하기때문에  .blog-list-item.type1:last-child 이라 하더라도 type4 2번째 에 적용된다*/


.blog-list-item.type1>.blog-list-item-image {
  width:285px;
  height:300px;
  float:left;
  /*해당 float의 값에 clear을 해주지 않는 이유는 부모 block에 높이가 주어 졌기 때문에 필요가 없다.*/
}
.blog-list-item.type1>.blog-list-item-text  {
  width:285px;
  height:300px;
  float:left;

  padding:25px;
  box-sizing:border-box;
  /*해당 float의 값에 clear을 해주지 않는 이유는 부모 block에 높이가 주어 졌기 때문에 필요가 없다.*/
}

.blog-list-item.type2 {
  width:770px;
  height:300px;
  float:left;

}
.blog-list-item.type2>.blog-list-item-text  {
  height:300px;
  padding:25px;
  box-sizing:border-box;
  /*해당 float의 값에 clear을 해주지 않는 이유는 부모 block에 높이가 주어 졌기 때문에 필요가 없다.*/
}

.blog-list-item.type3 {
  width:370px;
  height:630px;
  float:right;
}
.blog-list-item.type3>.blog-list-item-image {
  width:370px;
  height:300px;
  display:block;
  /*img 태그가 인라인 요소일때 생기는 불필요한 여백을 제거하기 위해 display:block로 설정한다*/
   /*위와 같은 경우 때문에 reset에서 기본 값으로 display:block로 설정해 놓는 경우도 있다*/
}
.blog-list-item.type3>.blog-list-item-text  {
  height:330px;
  padding:25px;
  box-sizing:border-box;
  /*해당 float의 값에 clear을 해주지 않는 이유는 부모 block에 높이가 주어 졌기 때문에 필요가 없다.*/
}


.blog-list-item.type4 {
  width:370px;
  height:300px;
  float:left;
}
/*.blog-list-item.type4:nth-child(5){
margin-right:30px;
}*/


.blog-list-item.type4>.blog-list-item-text  {
  height:300px;
  padding:25px;
  box-sizing:border-box;
  /*해당 float의 값에 clear을 해주지 않는 이유는 부모 block에 높이가 주어 졌기 때문에 필요가 없다.*/
}

.blog-list-item-text {
  background:#161f32;
  text-align:left;
}

.blog-list-item-text .author {
  color:#fff;
  margin-bottom: 20px;
}
.blog-list-item-text>.paragraph {
line-height:1.2;
}

.email-wrap{
  width:770px;
  height:66px;
  margin:70px auto;
}
.email-input {
  width:573px;
  height:66px;
  padding:25px;
  background:#3d506f;
  box-sizing:border-box;
  border:0;
  /*input 태그에 폰트 종류는 직접 지정해줘야 함 폰트 상속이 되지 않는다.*/
  font-family:lato, sans-serif;
  font-size:20px;
  font-weight:400;
  display:block;
  float:left;
}

.email-send {
  width:172px;
  height:66px;
  background:#3d506f;
  color:#fff;
  border:0;
  font-size:20px;
  font-weight:400;
  display:block;
  float:right;

}
